.postview-outer{
    display: flex;
    justify-content: center;
}

.postview-container{
    width: 500px;
    position: relative;
}

.postview-socials{
    float: right;
    margin-bottom: 30px;
}

.postview-social-like{
    padding: 9.9161px !important;
    font-size: 17px !important;
}

.postview-content{
    clear: both;
}

.postview-user{
    float: left;
    color: gray;
    margin-top: 5px !important;
}