.home-container{
    display: flex;
    justify-content: center;
}

.home-posts-container{
    width: 415px;
    overflow-y: auto;
}

.home-pagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}