.post-container{
    width: 400px;
}

.post-time{
    float: right;
    color: gray;
}

.post-button-container{
    display: flex;
    justify-content: center;
}

.post-button{
    margin-top: 20px !important;
}

.post-button:last-child{
    margin-right: 0px !important;
}

.post-title{
    color: black;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.post-title:hover{
    color: black;
    cursor: pointer;
}